<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.darmasoft.xymon"
      android:versionCode="13"
      android:versionName="0.3.2">
    <uses-sdk android:minSdkVersion="8" />

    <permission
        android:name="com.darmasoft.xymon.SEND_DATA_NOTIFICATION"
        android:label="@string/perms_send_data_notification_title"
        android:description="@string/perms_send_data_notification_desc"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
     <permission
        android:name="com.darmasoft.xymon.RECEIVE_DATA_NOTIFICATION"
        android:label="@string/perms_receive_data_notification_title"
        android:description="@string/perms_receive_data_notification_desc"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.darmasoft.xymon.SEND_DATA_NOTIFICATION" />
	<uses-permission android:name="com.darmasoft.xymon.RECEIVE_DATA_NOTIFICATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
		
    <application android:icon="@drawable/icon" android:label="@string/app_name"
        android:name=".XymonQVApplication">
        
        <activity android:name=".XymonQVActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".XymonQVHostActivity">
        </activity>
        
        <activity android:name="PrefsActivity"></activity>
        
        <service android:name=".XymonQVService" />
               
    </application>
</manifest>
